body
{
font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
background: #e9e9e9;
background-image: url('img/delivery.jpg');
}
 p 
{
font-size: 0.8em;
line-height: 1;
text-align: center;
}
form {
   color: green !important;
        margin-top: 100px ! important;
        text-align: center;
}
h1
{
        color: green !important;
        margin-top: 100px ! important;
        text-align: center;
        text-transform: uppercase;
    }
h2
{
        color: black !important;
        margin-top: 60px ! important;
        text-align: center;
        text-transform: uppercase;
    }
h3
{
        color: green !important;
        margin-top: 100px ! important;
        text-align: center;
        text-transform: uppercase;
    }



